name: eslint-check
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
    - '*'

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run eslint